<footer>
  <!-- Btm Img -->
  <img src="../assets/images/footer/small-btm.png" alt="" class="btm-small-img" />

  <div class="container">
    <div class="footer-main">
      <!-- Upper Structure -->
      <div class="footer-upper">
        <!-- Lef Red Card Column -->
        <div class="card-left-main">
          <div class="card-left">
            <img src="../assets/images/white-logo.png" alt="" />
            <div class="card-left-title">
              <h6>Tuesday - Saturday: 12:00pm - 23:00pm</h6>
              <h6 class="closed-head">Closed on Sunday</h6>
            </div>

            <h6 class="star-rated">5 star rated on TripAdvisor</h6>
          </div>
        </div>

        <!-- Center Card -->
        <div class="card-center-main">
          <div class="row">
            <div class="col-6">
              <div class="about-card">
                <h4>About</h4>
                <ul>
                  <li>
                    <a href=""><i class="fa-solid fa-angle-right"></i> Fredoka One</a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-angle-right"></i> Special Dish</a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-angle-right"></i> Reservation</a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-angle-right"></i> Contact</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-6">
              <div class="about-card">
                <h4>Menu</h4>
                <ul>
                  <li>
                    <a href=""><i class="fa-solid fa-angle-right"> </i>Steaks</a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-angle-right"> </i>Burgers</a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-angle-right"> </i>Coctails</a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-angle-right"> </i>Bar B Q</a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-angle-right"> </i>Desserts</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Right Card -->
        <div class="card-right-main">
          <h4>Newsletter</h4>
          <p>Get recent news and updates.</p>
          <input type="text" placeholder="Email Address" />

          <button class="subscribe-btn">Subscribe</button>
        </div>
      </div>

      <!-- Lower Structure -->
      <div class="footer-lower">
        <div class="">
          <h6><span>© 2025 TesteNest</span> | All shawonetc3 Themes</h6>
        </div>

        <div class="d-flex face-insta">
          <h6><a href="">Facebook</a></h6>
          <h6><a href="">Intagram</a></h6>
        </div>
      </div>
    </div>
  </div>
</footer>
