footer {
    background-color: #F5F8FD;
    position: relative;
    // Base styles for both pseudo-elements


    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0; // Aligns them to the bottom of the footer
        width: 290px; // Adjust the width to match your image size
        height: 517px; // Adjust the height to match your image size
        background-repeat: no-repeat;
        background-size: cover;
        pointer-events: none; // Allows clicks to pass through them if they overlap text

        @media (max-width: 991px) {
            display: none;
        }
    }

    // Left Image
    &::before {
        left: 0;
        background-image: url('/assets/images/footer/left.png');
        background-position: left bottom;
        background-size: cover;

        @media (max-width: 1600px) {
            background-size: contain;
            width: 180px;
            height: 300px;
        }
    }

    // Right Image
    &::after {
        right: 0;
        background-image: url('/assets/images/footer/right.png');
        background-position: right bottom;
        background-size: 274px 440px;

        @media (max-width: 1600px) {
            background-size: contain;
            width: 100px;
            height: 300px;
        }
    }

    .btm-small-img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .btm-left-img {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 290px;
    }

    .btm-right-img {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 290px;
    }

    .footer-main {
        padding: 65px 0;
        position: relative;
        z-index: 2;

        @media (max-width: 768px) {
            padding: 50px 0;
        }


        // ********** Upper Structure ***************
        .footer-upper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;

            @media (max-width: 991px) {
                grid-template-columns: 1fr;
                gap: 8px;
            }

            // Left Card
            .card-left-main {
                color: white;

                .card-left {
                    background-color: #F3274C;
                    border-radius: 30px;
                    max-width: 390px;

                    @media (max-width: 768px) {
                        max-width: 300px;
                    }

                    h6 {
                        font-family: "Fredoka", sans-serif;
                        font-weight: 600;
                        line-height: 1.65em;
                        color: #FFFFFF;

                        @media (max-width: 576px) {
                            font-size: 14px;
                        }
                    }

                    .closed-head {
                        text-decoration: underline;
                    }

                    .card-left-title {
                        padding: 30px 15px 94px 45px;


                        @media (max-width: 576px) {
                            padding: 0px 0 10px 18px;
                        }
                    }

                    .star-rated {
                        padding: 0 0 32px 45px;

                        @media (max-width: 576px) {
                            padding: 0 0 20px 18px;
                        }
                    }
                }
            }

            // Center Card
            .card-center-main {

                .about-card {

                    h4 {
                        font-family: "Fredoka", sans-serif;
                        font-weight: 600;
                        border-bottom: 5px solid #FFD40D;
                        display: inline-block;
                        margin: 30px 0 46px 0px;
                        font-size: 26px;
                        line-height: 1.66em;
                        color: #000000;

                        @media (max-width: 576px) {
                            margin: 0 0 10px 0px;
                        }
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 13px;

                        @media (max-width: 576px) {
                            gap: 0px;
                        }

                        li {
                            a {
                                display: inline-block;
                                color: #000000;
                                font-family: "Epilogue", sans-serif;
                                line-height: 1.65em;
                                transition: all ease-in-out 0.2s;

                                &:hover {
                                    color: #007a3d;
                                }

                                @media (max-width: 576px) {
                                    font-size: 12px;
                                }

                            }
                        }
                    }
                }
            }


            // Right Card
            .card-right-main {
                h4 {
                    font-family: "Fredoka", sans-serif;
                    font-weight: 700;
                    border-bottom: 5px solid #FFD40D;
                    display: inline-block;
                    margin: 30px 0 46px 0;
                    color: #000000;
                    line-height: 1.66em;

                    @media (max-width: 576px) {
                        margin: 30px 0 46px 0;
                        font-size: 14px;
                        margin: 0px 0 8px 0;
                    }
                }

                p {
                    color: #000000;
                    margin-bottom: 15px;
                    line-height: 1.65em;

                    @media (max-width: 576px) {
                        font-size: 12px;
                    }
                }

                input {
                    max-width: 360px;
                    width: 100%;
                    max-width: 360px;
                    border: 1px solid #DEDEDE;
                    box-shadow: 0px 0px 4px #DEDEDE;
                    padding: 18px 36px;
                    border-radius: 10px;

                    @media (max-width: 576px) {
                        max-width: 360px;
                        padding: 6px;
                    }
                }

                input::placeholder {
                    color: #C6C6C6;
                    font-family: serif;
                    font-family: "Epilogue", sans-serif;
                    line-height: normal;

                    @media (max-width: 576px) {
                        font-size: 12px;
                    }
                }

                .subscribe-btn {
                    position: relative;
                    z-index: 1; // 1. Establishes a layering context
                    display: block;
                    background: #F3274C;
                    color: #fff;
                    border: none;
                    padding: 18px 43px;
                    font-size: 16px;
                    line-height: normal;
                    font-weight: 700;
                    border-radius: 12px;
                    cursor: pointer;
                    margin-top: 26px;
                    transition: all ease-in-out 0.2s;

                    &:hover {
                        background-color: #db1633;

                        &::after {
                            border: 3px solid #db1633;
                        }
                    }

                    @media (max-width: 576px) {
                        font-size: 12px;
                        padding: 4px 8px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: -6px;
                        right: -6px;
                        bottom: -6px;
                        left: 10px;
                        border: 3px solid #F3274C;
                        border-radius:12px;
                        z-index: -1; // 2. Safely pushes the border behind the text/fill
                        transform: translateZ(-1px); // 3. Forces it behind the button base in 3D space
                        transition: all ease-in-out 0.2s;



                        @media (max-width: 576px) {
                            top: -5px;
                            right: -3px;
                            bottom: 2px;
                        }
                    }
                }
            }
        }

        // ********** Upper Structure ***************
        .footer-lower {
            margin-top: 100px;
            border-top: 5px solid #FFD40D;
            padding: 34px 26px 31px;
            display: flex;
            justify-content: space-between;
            gap: 10px;

            @media (max-width:768px) {
                margin-top: 24px;
                border-top: 5px solid #FFD40D;
                padding: 13px 0px 0px;
            }

            h6 {
                font-family: "Fredoka", sans-serif;
                font-weight: 600;
                margin: 0;
                color: #000000;
                line-height: 1.65em;

                @media (max-width: 768px) {
                    font-size: 14px;
                }

                @media (max-width: 576px) {
                    font-size: 12px;
                }

                span {
                    font-weight: 700;
                    color: #F3274C;
                    font-family: "Fugaz One", sans-serif;
                }
            }

            .face-insta {
                gap: 311px;

                @media (max-width: 991px) {
                    gap: 35px;
                    padding-right: 69px;
                }

                @media (max-width: 768px) {
                    padding: 0;
                }

                h6 {
                    a {
                        color: #000000;
                        transition: all ease-in-out 0.2s;
                        font-size: 16px;
                        line-height: normal;
                        text-decoration: underline;

                        //  font-weight: 600;
                        &:hover {
                            color: #007a3d;
                        }

                        @media (max-width: 576px) {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}