<section class="available-wrapper">
  <div class="container">
    <div class="available-main">
      <!-- <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias atque, saepe illum ea
        unde perspiciatis ad cum velit quasi! Sint nulla facere placeat quisquam officiis ut, eaque
        recusandae itaque aut?
      </p>
      <img src="" class="banner-img" alt="" /> -->

      <img src="assets/images/available/food-small.png" alt="" class="food-img" />
      <div class="d-flex flex-column align-items-center justify-content-center right-data">
        <h2>
          Available
          <img src="assets/images/available/now.png" class="now-img" alt="" />
        </h2>
        <p>
          Treat yourself to dishes made up of exotic vegetables and cherish the eccentric taste of
          these veggies
        </p>

        <a href="#" class="filet-migon-order-btn">
          LEARN MORE
          <span><i class="fa-solid fa-arrow-right-long"></i></span>
        </a>
      </div>
    </div>
  </div>
</section>
